      <section class="coming-soon-wrapper">
         <div class="container">
            <div class="cs-txt">
               <img src="images/cs-logo.png" alt="">
               <h1><%= setting.launching_title%></h1>
               <p><%= setting.launching_description%></p>
               <div class="countdown"></div>
               <div class="cs-newsletter-form">
                  <h4>عضویت در خبرنامه</h4>
                  <input type="email" class="form-control" placeholder="ایمیل شما...">
                  <button type="submit" class="subscribe">عضویت</button>
               </div>
            </div>
         </div>
      </section>
